body{
    margin: 0px;
    overflow: hidden;
    background-size: cover;
}

h1{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2{
    font-family: Josefin Sans;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4.375px;
}

p, ul{
    font-size: 16px;
    letter-spacing: 0.3px;
    font-family: Cabin;
    font-weight: 300;
    line-height: 30px;
    -webkit-text-stroke: 0.0px #000000;
}

.button-0{
    background: none;
    padding: 10px 20px;
    font-family: Josefin Sans;
    font-size: 20px;
    letter-spacing: 1px;
    border-style: solid;
    color: #007500;
    border-width: 2px;
    border-color: #007500;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 10px;
}

.button-0:hover{
    background: #007500;
    color: #ffffff;
}

.button-1{
    background: #007500;
    padding: 10px 20px;
    font-family: Josefin Sans;
    font-size: 20px;
    letter-spacing: 1px;
    border-style: solid;
    color: #ffffff;
    border-width: 2px;
    border-color: #007500;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 10px;
}

#fullpage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.menu{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    font-size: 28px;
    display: inline-block;
    padding: 5px 13px;
    border-style: solid;
    border-width: 0px;
    border-radius: 45px;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
}

.menu-0{
    color: #000000;
    background: #007500;
}

.menu-1{
    color: #007500;
    background: #000000;
}

#sections-container{
    position: relative;
    top: 0vh;
    width: 100%;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.particles-js{
    position:absolute;
    z-index: 0;
    width:100%;
    height:100vh;
}

.section-0{
    width: 100%;
    height: 100vh;
    font-size: 0px;
    background: #131116;
    color: #ffffff;
    position: relative;
}

.section-0 > h1{
    color: #ffffff;
}

.section-0 > h2{
    color: #ffffff;
}

.section-0 > p{
    color: #ffffff;
}

.section-1{
    width: 100%;
    height: 100vh;
    font-size: 0px;
    background: #ffffff;
    color: #000000;
    position: relative;
}

.section-1 > h1{
    color: #000000;
}

.section-1 > h2{
    color: #000000;
}

.section-1 > p{
    color: #000000;
}

.section-content{
    position: absolute;
    width: 100%;
    padding: 20px;
}

.section-arrow-center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

.section-arrow{
    color: #007500;
    font-size: 70px;
    animation: arrow-bob 2s ease infinite;
}
.section-arrow:hover{
    cursor: pointer;
}

.home-section{
    /*background: url('../img/landscape.png');*/
    background-position: center;
    background-size: cover;
}

.sub-section{
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    line-height: 100vh;
}

.ibeto-logo{
    width: 400px;
    vertical-align: middle;
    display: inline-block;
}

.ibeto-desc{
    width: 600px;form-team
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.registration-section{
    text-align: center;
}

.steps-container{
    padding: 100px 0px 50px;
}

.step-container{
    width: 50%;
    display: inline-block;
    height: 40vh;
    text-align: bottom;
    margin-top: 20px;
}

.step-container > h2{
    margin-top: 30px;
}

.step-container > p{
    width: 700px;
    margin: auto;
}

.form-team{
    width: 300px;
    animation: team-revolve 20s linear infinite;
}

.submit-abstract{
    height: 300px;
    animation: abstract-bob 4s linear infinite;
}

.reg-step-img{
    font-size: 200px;
}

.step-desc{
    font-size: 20px;
}

.hackathon-section{
    text-align: center;
    /*background: url('../img/space.png');*/
    background-position: center;
    background-size: cover;
}

.hackathon-desc{
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}

.hackathon-desc > ul{
    list-style-position: inside;
    direction: rtl;
    padding-right: 10px;
}

.winner-section{
    text-align: center;
}

.winner-display{
    display: inline-block;
    transition-duration: 0.5s;
    height: 100vh;
    vertical-align: top;
    overflow: hidden;
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: left;
}

.team-photo{
    height: 50vh;
    display: block;
    margin: auto;
}

.winner-know-more, .winner-close{
    width: 100%;
    padding: 15px 0px;
    background: red;
    display: block;
    font-size: 28px;
    text-align: center;
}
.winner-close{
    display: none;
}

.winner-desc{
    padding: 15px;
}

.winner-desc > p{
    font-size: 14px;
    text-overflow: ellipsis;
}

@keyframes arrow-bob{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes team-revolve{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes abstract-bob{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}